<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EMTrack.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>87173E99FE0C028056E80EF5B7379DB84BFE8D38</string>
				<key>dateExpires</key>
				<string>26/03/26</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>87173E99FE0C028056E80EF5B7379DB84BFE8D38</string>
						<key>dateExpires</key>
						<string>26/03/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>87173E99FE0C028056E80EF5B7379DB84BFE8D38</string>
						<key>dateExpires</key>
						<string>26/03/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>87173E99FE0C028056E80EF5B7379DB84BFE8D38</string>
						<key>dateExpires</key>
						<string>26/03/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>87173E99FE0C028056E80EF5B7379DB84BFE8D38</string>
						<key>dateExpires</key>
						<string>26/03/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>87173E99FE0C028056E80EF5B7379DB84BFE8D38</string>
						<key>dateExpires</key>
						<string>26/03/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R9KV9N59T5</string>
						<key>name</key>
						<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>R9KV9N59T5.com.webvision.emtrack</string>
				<key>com.apple.developer.team-identifier</key>
				<string>R9KV9N59T5</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>01dcf8d4-f967-49f8-ab61-aaa7250a318d</string>
				<key>dateExpires</key>
				<string>17/01/27</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.webvision.emtrack</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>R9KV9N59T5</string>
				<key>name</key>
				<string>WEBVISION SOFTECH  PRIVATE  LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
